
.timerLine {
    margin: 2rem 0;
    grid-column: 1 / span 1;
    height: 100%;
    position: relative;
}
.timerContainer {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    z-index: 10;
    transform: translateY(-.7rem);
    margin-right: .5rem;
}

.timer {
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    color: #222;
    padding: .4rem;
    background-color: #eee;
    border: 1px solid #ff9898;
}

.timerDash {
    display: absolute;
    height: 1px;
    width: .6rem;
    background-color: #ff9898;
}

.timerLabel {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 400;
}