.timer {
    z-index: 10;
    position: absolute;
    display: flex;
    width: max-content;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    color: #c70a0a;
    font-size: 1.6rem;
    font-weight: 700;
    transform: translateY(-.75rem);
}

.timerDash {
    display: absolute;
    height: 1px;
    width: 2rem;
    border-radius: 20px;
    background-color: #c70a0a;
    transform: translateX(calc(-1rem + 3px));
    margin-right: .5rem;
}

.timerLabel {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 400;
}