.timelineContainer {
    grid-column: 2 / span 1;
    padding: 2rem 0;
}

.timeline {
    height: 100%;
    position: relative;
    width: 4px;
    border-radius: 50px;
    background-color: #eee;
}

