@import '../../variables.scss';

.startContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    text-align: center;
}

.startHeader {
    margin-top: 6rem;
    margin-bottom: 4rem;
    color: $color-font-dark;
    font-weight: 600;
    font-size: 6rem;
}

.startImage {
    width: 12rem;
    margin-bottom: 6rem;
}

.startButton {
    outline: none;
    border: none;
    border-radius: 5000px;
    padding: 1rem 3rem;
    background-color: $color-hops-green;
    color: $color-font-light;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.4rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: 600;
}