@import '../../../variables.scss';

.box {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1.5rem;
    border-radius: .5rem;
    background-color: $color-background-white;
    box-shadow: 0 .5rem 1rem rgba(#000, .2);
    transition: all .2s;
}

.form {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-gap: 1rem;
    align-items: center;
    padding: 0 1rem;
    margin-bottom: 4rem;

    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    color: $color-font-dark;
}

.label {
    font-size: 1.4rem;
    color: $color-font-dark-2;
    text-transform: uppercase;
}

.input {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.2rem;
    color: $color-font-dark;
    padding: .5rem;
    border: none;
    border-radius: .5rem; 
    margin-bottom: .5rem;
}

.submit {
    grid-column: app-start / app-end;
    width: 90%;
    justify-self: center;

    outline: none;
    border: none;
    border-radius: 5000px;
    padding: 1rem 6rem;
    background-color: $color-hops-green-light;
    
    color: $color-font-dark;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: 400;

    margin-top: 2rem;
}