@import '../../variables.scss';

.timerLine {
    grid-column: timeline-start / timeline-end;
    grid-row: 1 / span 2;
    position: relative;
    margin: 2rem 0;
}

.timerContainer {
    transform: translateY(-1.5rem);
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
}

.timer {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2rem;
    color: #222;
    padding: .4rem;
    background-color: $color-background-white;
    border: 2px solid $color-hops-green-light;
    border-radius: 2px;
}

.timerDash {
    display: absolute;
    height: 2px;
    width: .8rem;
    background-color: $color-hops-green-light;
}

.timerLabel {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 400;
}