.timelineContainer {
    grid-column: timeline-end / app-end;
    grid-row: 1 / span 2;
    position: relative;
    margin: 2rem 0;
}

.timeline {
    height: 100%;
    position: relative;
    width: 4px;
    border-radius: 50px;
}