.instructionContainer {
    padding: 2rem;
    margin: 1rem;
    border-radius: .75rem;
    background-color: #BDC3C7;
    position: absolute;
    bottom: 0;
    height: 20vh;
}

.nextAddition {
    font-family: 'Open Sans', sans-serif;
    color: #444;
    font-size: 1.4rem;
    font-weight: 600;
}

.instruction {
    font-family: 'Open Sans', sans-serif;
    color: #444;
    font-size: 2.2rem;
    font-weight: 700;
}

.instructionAction {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.instructionTimer {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.4rem;
    display: inline-block;
    padding: .75rem;
    background-color: #eee;
    border-radius: 2px;
}

.instructionButton {
    outline: none;
    border: none;
    padding: 1rem 3rem;
    background-color: #666;
    color: #eee;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    letter-spacing: .1rem;
    font-weight: 600;
    border-radius: 5000px;
}