.header {
    font-size: 1.4rem;
    padding-left: 1rem;
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    color: #555;
    margin-bottom: 1rem;
}

.form {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-gap: 1rem;
    align-items: center;
    padding: 0 1rem;
    margin-bottom: 4rem;

    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    color: #444;
}

.input {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    color: #444;
    padding: .5rem;
    border: none;
    border-radius: .5rem; 
}

.submit {
    grid-column: 1 / -1;
    width: 90%;
    justify-self: center;

    outline: none;
    border: none;
    border-radius: 5000px;
    padding: 1rem 6rem;
    background-color: #a9d1c1;
    
    color: #444;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: 400;

    margin-top: 2rem;
}