@import '../../../../variables.scss';

.addition {
    position: absolute;
    display: flex;
    width: max-content;
    align-items: center;
    transform: translateY(-50%) translateX(calc(-.6rem + 2px));
    font-family: 'Open Sans', sans-serif;
    color: $color-font-dark;
    font-size: 1.5rem;
    font-weight: 600;

    transition: all .5s ease-out;
}

.symbol {
    height: 1.2rem;
    width: 1.2rem;
    background-color: $color-hops-green;
    box-shadow: inset -2px -2px 2px rgba(0,0,0,.2);
    border-radius: 50%;
    margin-right: .7rem;
    transition: background-color .5s;
}

.items {
    display: flex;
    flex-direction: column;
}
.item {
    display: flex;
    align-items: center;
    transition: opacity .5s;
}

.details {
    transition: all .3s;
}

.time {
    margin-left: 1.2rem;
    color: $color-font-dark-1;
    font-size: 1rem;
    font-weight: 400;
}