@import '../../variables.scss';

.container {
    display: flex;
    align-items: flex-end;
    z-index: 50;
    grid-row: 2 / span 1;
    grid-column: timeline-end / app-end;
    justify-self: end;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

.controlGreen {
    outline: none;
    border: none;
    height: 4.5rem;
    width: 4.5rem;
    background-color: $color-hops-green-light;
    border-radius: 50%;

    color: $color-font-dark;
    font-size: 2.2rem;
    margin-left: 1.5rem;
}

.controlRed {
    outline: none;
    border: none;
    height: 4.5rem;
    width: 4.5rem;
    background-color: $color-delete-red;
    border-radius: 50%;

    color: $color-font-dark;
    font-size: 2.2rem;
    margin-left: 1.5rem;
}

.controlWhite {
    outline: none;
    border: none;
    height: 4.5rem;
    width: 4.5rem;
    background-color: $color-background-white;
    border-radius: 50%;

    color: $color-font-dark;
    font-size: 2.2rem;
    margin-left: 1.5rem;
}