.addition {
    position: absolute;
    display: flex;
    width: max-content;
    align-items: center;
    transform: translateY(-1rem) translateX(calc(-.6rem + 2px));
    font-family: 'Open Sans', sans-serif;
    color: #444;
    font-size: 1.3rem;
    font-weight: 600;

    transition: all .5s;
}

.symbol {
    height: 1.2rem;
    width: 1.2rem;
    background-color: #288B64;
    border-radius: 50%;
    margin-right: .7rem;
    transition: background-color .5s;
}

.details {
    display: flex;
    align-items: center;

    transition: opacity .5s;
}

.time {
    margin-left: .5rem;
    color: #555;
    font-size: 1.2rem;
    font-weight: 600;
}