.addition {
    position: absolute;
    display: flex;
    width: max-content;
    align-items: center;
    transform: translateY(-.75rem) translateX(calc(-.75rem + 3px));

}

.symbol {
    height: 1.5rem;
    width: 1.5rem;
    background-color: green;
    border-radius: 50%;
}