@import '../../../../variables.scss';

.boilMinsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1.5rem;
    border-radius: .5rem;
    background-color: $color-background-white;
    box-shadow: 0 .5rem 1rem rgba(#000, .2);
    transition: all .2s;
    animation: actionBoxSlide .3s ease-out;
}

.label {
    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: $color-font-dark-1;
    margin-bottom: .6rem;
}

.iconButton {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    background-color: $color-background-grey;
    font-size: 2.2rem;
    color: $color-font-dark;
    outline: none;
    border: none;
}

.boilMinsAdjustContainer {
    display: flex;
    align-items: center;
}

.boilMinsCurrent {
    font-family: 'Roboto Mono', monospace;
    background-color: $color-background-grey;
    color: $color-font-dark;
    font-size: 5rem;
    padding: 1rem 2rem;
    border: 1px solid #ddd;
    border-radius: .5rem;
    margin: 0 3rem;
}