.optionsContainer {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: flex;
    flex-direction: column;
}

.option-button:not(:last-child) {
    margin-bottom: 1rem;
}

.option-button {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #eee;
    font-size: 1.8rem;
    color: #444;
    outline: none;
    border: none;
}