*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #ddd;
}

.container {
  height: 100vh;
  display: grid;
/*  grid-template-rows: 80vh 1fr; */
  grid-template-rows: 1fr minmax(20vh, min-content);
}