@import './variables.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: $color-background-grey;
  overscroll-behavior-y: contain;
}

.container {
  background-color: $color-background-grey;
  height: 100vh;
  display: grid;
  grid-template-columns: [app-start timeline-start] 6rem [timeline-end] 1fr [app-end];
  grid-template-rows: 1fr min-content minmax(20vh, min-content);

  @media only screen and (min-width: $bp-tablet) {
    grid-template-columns: 1fr [app-start timeline-start] 6rem [timeline-end] 70rem [app-end] 1fr;
  }
}