$color-font-light: #eee;
$color-font-dark: #444;
$color-font-dark-1: #555;
$color-font-dark-2: #777;

$color-background-grey: #ddd;
$color-background-white: #eee;

$color-hops-green: #288B64;
$color-hops-green-light: #a9d1c1;
$color-malt-brown: #862201;
$color-malt-brown-light: #dcaa99;
$color-delete-red: #ff9898;

$bp-tablet: 48em;       //768px / 16