@import '../../../variables.scss';

.instructionBox {
    height: 100%;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    border-radius: .5rem;
    background-color: $color-background-white;
    box-shadow: 0 .5rem 1rem rgba(#000, .2);
    transition: all .2s;
}

.nextAddition {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: $color-font-dark;
    font-size: 1.4rem;
    font-weight: 400;
}

.instructionDetailsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.instruction {
    font-family: 'Open Sans', sans-serif;
    color: $color-font-dark;
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.instructionTimerContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.instructionTimer {
    font-family: 'Roboto Mono', monospace;
    font-size: 2.2rem;
    display: inline-block;
    padding: .6rem;
    background-color: $color-background-white;
    color: $color-font-dark;
    border: 1px solid #ddd;
    border-radius: 2px;
}

.instructionRewind {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: $color-background-white;
    font-size: 1.2rem;
    color: $color-font-dark;
    border: none;
}

.instructionRewind:focus {
    outline: none;
}

.instructionButton {
    align-self: flex-start;
    justify-self: flex-end;
    outline: none;
    border: none;
    border-radius: 5000px;
    padding: 1rem 3rem;
    background-color: $color-background-white;
    color: $color-font-dark;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: 400;
}