@import '../../variables.scss';

.addition {
    position: absolute;
    display: flex;
    width: max-content;
    align-items: center;
    transform: translateY(-1rem) translateX(calc(-.6rem + 2px));
    font-family: 'Open Sans', sans-serif;
    color: $color-font-dark;
    font-size: 1.3rem;
    font-weight: 600;

    transition: all .5s;
}

.symbol {
    height: 1.2rem;
    width: 1.2rem;
    background-color: $color-hops-green;
    border-radius: 50%;
    margin-right: .7rem;
    transition: background-color .5s;
}

.details {
    display: flex;
    align-items: center;

    transition: opacity .5s;
}

.time {
    margin-left: .5rem;
    color: $color-font-dark-1;
    font-size: 1rem;
    font-weight: 400;
}